.header {
    width: 100%;
    display: flex;
    align-items: center;
    padding-top: 44px;
    padding-bottom: 44px;
    padding-left: 102px;
    padding-right: 102px;

    background-color: transparent;
    position: relative;

    background: var(--background-1);
}

.title {
    user-select: none;
    position: absolute;
    top: 50%;
    left: 50%;

    transform: translate(-50%, -50%);
    margin: unset;

    font-size: 28px;
}

.menus {
    margin-left: auto;
    display: flex;
    align-items: center;
    list-style-type: none;
}

.menus li {
    margin-left: 24px;
    font-size: 14px;
}

.menusLogin {
    border-radius: 18px;
    background-color: yellow;
    padding: 12px;
    color: black;
    font-weight: 600;
}