name: Changesets

on:
  push:
    branches: [main]

permissions:
  contents: write
  pull-requests: write
  packages: write

jobs:
  call_workflow:
    uses: coldsurfers/workflows/.github/workflows/changesets-for-packages.yml@main
    with:
      repository: 'coldsurfers/surfers-common'
    secrets:
      npm_token: ${{ secrets.GITHUB_TOKEN }}
