name: Lint
on:
  pull_request:
    branches:
      - main
  merge_group:
    types:
      - checks_requested

jobs:
  call_workflow:
    uses: coldsurfers/workflows/.github/workflows/lint-ci.yml@main
    secrets:
      npm_token: ${{ secrets.GITHUB_TOKEN }}
