name: Lint
on:
  pull_request:
    branches:
      - main
  merge_group:
    types:
      - checks_requested

jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup
        uses: coldsurfers/workflows/.github/actions/setup@main
        with:
          NPM_TOKEN: ${{ secrets.GITHUB_TOKEN }}

      - name: Lint files
        run: pnpm turbo run lint

      - name: Typecheck files
        run: pnpm turbo check:type
